<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="temporaryUserSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ImgBlast.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <temporaryUserSettings>
        <ImgBlast.Settings>
            <setting name="StartFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SlideSpeed" serializeAs="String">
                <value>1500</value>
            </setting>
            <setting name="SlideSpeedNum" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="SaveSessionHistory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewlyAddedCount" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="FavesVids" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Fave1" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave2" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave3" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave4" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave5" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave6" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave7" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave8" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave9" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave10" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave11" serializeAs="String">
                <value/>
            </setting>
            <setting name="Fave12" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave1" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave2" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave3" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave4" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave5" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave6" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave7" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave8" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave9" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave10" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave11" serializeAs="String">
                <value/>
            </setting>
            <setting name="VidFave12" serializeAs="String">
                <value/>
            </setting>
            <setting name="AllowShortcuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ApplyFilterToImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlurAmount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value/>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value/>
            </setting>
        </ImgBlast.Settings>
    </temporaryUserSettings>
</configuration>
